# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

code-yourself/
ch2-code-yourself/
ch3-code-yourself/
ch4-code-yourself/
ch5-code-yourself/
ch6-code-yourself/
ch7-code-yourself/