<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>포스트 목록</title>
</head>
<body>
    <div class="container">
        <h1>포스트 목록</h1>
        
        <!-- 포스트 목록 -->
        <div th:if="${not #lists.isEmpty(posts)}">
            <ul class="post-list">
                <li class="post-item" th:each="post : ${posts}">
                    <h3 class="post-title" th:text="${post.title}">포스트 제목</h3>
                    <p class="post-body" th:text="${post.body}">포스트 내용</p>
                    <div>
                        <a th:href="@{/mvc/posts/{id}(id=${post.id})}" class="btn">상세보기</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</body>
</html> 